<h1>Chats List</h1>
<table>
  <thead>
    <tr>
      <th>Sender ID</th>
      <th>Receiver ID</th>
      <th>Actions</th>
    </tr>
    <%= link_to "Crear nuevo chat", new_chat_path, class: "btn btn-primary" %>
  </thead>
  <tbody>
    <% @chats.each do |chat| %>
      <tr>
        <td><%= chat.sender_id %></td>
        <td><%= chat.receiver_id %></td>
        <td><%= link_to 'Show', chat_path(chat) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
